<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--file>C:/04_Dev_Workspace/SpringIDE_Workspace/S3StorageWithSpring/ReadWriteS3/logs/s3_opearion.log</file-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{dd-MMM-yyyy HH:mm:ss,SSS} , %L [%p] [%C{1}] [%M] : %m %n</Pattern>
        </encoder>        
    </appender>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MMM-yyyy HH:mm:ss,SSS} , %L [%p] [%C{1}] [%M] : %m %n</pattern>
        </encoder>
    </appender>

    

    <root level="info">       
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

</configuration>
