<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/04_Dev_Workspace/SpringIDE_Workspace/S3StorageWithSpring/ReadWriteS3/logs/s3_opearion.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{dd-MMM-yyyy HH:mm:ss,SSS} , %L [%p] [%C{1}] [%M] : %m %n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>C:/04_Dev_Workspace/SpringIDE_Workspace/S3StorageWithSpring/ReadWriteS3/logs/archived/s3_operation.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MMM-yyyy HH:mm:ss,SSS} , %L [%p] [%C{1}] [%M] : %m %n</pattern>
        </encoder>
    </appender>

    <!--<logger name="com.java2novice" level="debug" additivity="false">
        <appender-ref ref="FILE-AUDIT"/>
    </logger>-->

    <root level="info">
        <!--<appender-ref ref="FILE_APPENDER"/>-->
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

</configuration>